<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            overflow: hidden;
            overflow-y: auto;
        }
    </style>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                SlideOver
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-from-left" aria-controls="slide-over-from-left"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Open from left
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" id="slide-over-from-left" aria-labelledby="slide-over-from-left"
                        class="fixed h100dvh wfull max-wsm -left-full top-0 fx-open-left-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">

                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-top" aria-controls="slide-over-top"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Open from top
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" aria-labelledby="slide-over-top" id="slide-over-top"
                        class="fixed left-0 wscreen h64 -top-full ease-linear duration-200 fx-open-top-0 flex p4 bg-bg-surface">
                        <div class="size-full b b-dashed b-border-strong">
                                
                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-bottom" aria-controls="slide-over-bottom"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Open from bottom
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" aria-labelledby="slide-over-bottom" id="slide-over-bottom"
                        class="fixed left-0 wscreen h64 -bottom-full ease-linear duration-200 fx-open-bottom-0 flex p4 bg-bg-surface">
                        <div class="size-full b b-dashed b-border-strong">

                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-from-right" aria-controls="slide-over-from-right"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Open from right
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" id="slide-over-from-right" aria-labelledby="slide-over-from-right"
                        class="fixed h100dvh wfull max-wsm -right-full top-0 fx-open-right-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Overlay
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-overlay" aria-controls="slide-over-overlay"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Overlay
                    </button>
                    <div data-fx-offcanvas data-slideover data-offcanvas-backdrop="fixed inset-0 bg-gray8/80" role="slideover" id="slide-over-overlay" aria-labelledby="slide-over-overlay"
                        class="fixed h100dvh wfull max-wsm -right-full top-0 fx-open-right-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">

                        </div>
                    </div>
                </div>
                <div class="">
                    <button data-offcanvas-trigger data-target="slide-over-overlay1" aria-controls="slide-over-overlay1"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Overlay with blur
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" data-offcanvas-backdrop="fixed inset-0 backdrop-filter backdrop-blur-xl bg-gray-800/50" id="slide-over-overlay1" aria-labelledby="slide-over-overlay1"
                        class="fixed h100dvh wfull max-wsm -right-full top-0 fx-open-right-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Body Scroll
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-offcanvas-trigger data-target="slide-overscrollbody" aria-controls="slide-overscrollbody"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Scroll body
                    </button>
                    <div data-fx-offcanvas data-slideover data-allow-body-scroll role="slideover" id="slide-overscrollbody" aria-labelledby="slide-overscrollbody"
                        class="fixed h100dvh wfull max-wsm -right-full top-0 fx-open-right-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">

                        </div>
                    </div>
                </div>
                <div class="">
                    <button data-offcanvas-trigger data-target="slide-overbodyscroll_overlay" aria-controls="slide-overbodyscroll_overlay"
                        class="btn btn-sm text-white btn-solid btn-solid-primary text-white rd-md">
                        Body Scroll With Overlay
                    </button>
                    <div data-fx-offcanvas data-slideover role="slideover" data-allow-body-scroll data-offcanvas-backdrop="fixed inset-0 backdrop-filter backdrop-blur-xl bg-gray8/50" id="slide-overbodyscroll_overlay" aria-labelledby="slide-overbodyscroll_overlay"
                        class="fixed h100dvh wfull max-wsm -right-full top-0 fx-open-right-0 ease-linear duration-200 p4 bg-bg-surface flex">
                        <div class="size-full b b-dashed b-border-strong">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>