<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative pb20 z20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Tab
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs role="tab">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative h12 pxpx bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="tab1" aria-controls="tab1"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab 1
                        </button>
                        <button data-tabs-trigger data-target="tab2" aria-controls="tab2"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab2
                        </button>
                        <button data-tabs-trigger data-target="tab3" aria-controls="tab3"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab3
                        </button>
                    </div>
                    <div data-panels-container>
                        <div role="tabpanel"
                            class="ring-offset-gray950 fx-active-flex hidden h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 fx-active-flex hidden h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 fx-active-flex hidden h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Indicator
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs
                    data-indicator-class-name="bg-bg-muted rd absolute top-0 left-0" role="tab">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative p0.5 bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="tab1" aria-controls="tab1"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            Tab 1
                        </button>
                        <button data-tabs-trigger data-target="tab2" aria-controls="tab2"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            Tab2
                        </button>
                        <button data-tabs-trigger data-target="tab3" aria-controls="tab3"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            Tab3
                        </button>
                    </div>
                    <div data-panels-container>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Orientation : Vertical
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs data-orientation="vertical" role="tab" class="flex items-start wfull">
                    <div data-tab-list role="tablist"
                        class="flex flex-col p0.5 wmax relative bg-bg-surface rd-md">
                        <button data-tabs-trigger data-target="tab1" aria-controls="tab1"
                            class="px4 py2 rd fx-active-bg-bg-muted text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab 1
                        </button>
                        <button data-tabs-trigger data-target="tab2" aria-controls="tab2"
                            class="px4 py2 rd fx-active-bg-bg-muted text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab2
                        </button>
                        <button data-tabs-trigger data-target="tab3" aria-controls="tab3"
                            class="px4 py2 rd fx-active-bg-bg-muted text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab3
                        </button>
                    </div>
                    <div data-panels-container class="flex-1">
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 fx-active-flex hidden focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Orientation : Vertical With Indicator
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs data-orientation="vertical"
                    data-indicator-class-name="rd bg-bg-muted absolute top-0 left-0" role="tab"
                    class="flex items-start wfull">
                    <div data-tab-list role="tablist"
                        class="flex flex-col p0.5 wmax relative bg-bg-surface rd-md">
                        <button data-tabs-trigger data-target="tab1" aria-controls="tab1"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab 1
                        </button>
                        <button data-tabs-trigger data-target="tab2" aria-controls="tab2"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab2
                        </button>
                        <button data-tabs-trigger data-target="tab3" aria-controls="tab3"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative wfull">
                            Tab3
                        </button>
                    </div>
                    <div data-panels-container class="flex-1">
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md ml2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Default Index
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs data-default-value="tab2" role="tab">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative h12 pxpx bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="tab1" aria-controls="tab1"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab 1
                        </button>
                        <button data-tabs-trigger data-target="tab2" aria-controls="tab2"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab2
                        </button>
                        <button data-tabs-trigger data-target="tab3" aria-controls="tab3"
                            class="px4 py2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 fx-active-bg-bg-muted outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                            Tab3
                        </button>
                    </div>
                    <div data-panels-container>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Trigger With Icon
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs
                    data-indicator-class-name="bg-bg-muted rd absolute top-0 left-0" role="tab">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative p0.5 bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="settingTab" aria-controls="settingTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-settings"></span>
                            Setting
                        </button>
                        <button data-tabs-trigger data-target="billingTab" aria-controls="billingTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-flash"></span>
                            Billing
                        </button>
                        <button data-tabs-trigger data-target="accountTab" aria-controls="accountTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-user"></span>
                            Account
                        </button>
                    </div>
                    <div data-panels-container>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="settingTab" aria-label="settingTab">
                            Setting tab Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="billingTab" aria-labelledby="billingTab">
                            Billing Tab Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            Account Tab Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Show Panel With Animation : keyframes animation
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs data-show-animation="fadeIn .8s cubic-bezier(.48,1.55,.28,1)"
                    data-indicator-class-name="bg-bg-muted rd absolute top-0 left-0" role="tab">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative p0.5 bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="settingTab" aria-controls="settingTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-settings"></span>
                            Setting
                        </button>
                        <button data-tabs-trigger data-target="billingTab" aria-controls="billingTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-flash"></span>
                            Billing
                        </button>
                        <button data-tabs-trigger data-target="accountTab" aria-controls="accountTab"
                            class="px4 py2 flex items-center gap-x2 rd text-fg-text disabled-cursor-not-allowed disabled-op80 relative z20">
                            <span aria-hidden="true" class="flex i-carbon-user"></span>
                            Account
                        </button>
                    </div>
                    <div data-panels-container>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="settingTab" aria-label="settingTab">
                            Setting tab Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="billingTab" aria-labelledby="billingTab">
                            Billing Tab Content
                        </div>
                        <div role="tabpanel"
                            class="ring-offset-gray950 h40 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            Account Tab Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Example With Form
            </h1>
            <div class="p6 rd-lg b b-border text-fg-text">
                <div data-tabs  data-fx-tabs
                    data-indicator-class-name="bg-bg-muted rd absolute top-0 left-0" role="tab"
                    class="mx-auto max-wxl">
                    <div data-tab-list role="tablist"
                        class="flex items-center relative p0.5 bg-bg-surface wfull rd-md">
                        <button data-tabs-trigger data-target="accountTab" aria-controls="accountTab"
                            class="px4 py2 rd flex-1 flex items-center justify-center text-fg-text disabled-cursor-not-allowed disabled-op80 relative">
                            Account
                        </button>
                        <button data-tabs-trigger data-target="passTab" aria-controls="passTab"
                            class="px4 py2 rd flex-1 flex items-center justify-center text-fg-text disabled-cursor-not-allowed disabled-op80 relative">
                            Password
                        </button>
                    </div>
                    <div data-panels-container>
                        <form role="tabpanel"
                            class="ring-offset-gray950 p6 md-p-10 divide-y divide-border-strong focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2 bg-bg flex-col"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            <div class="space-y-1.5 pb6 md-pb-8">
                                <h3
                                    class="text-2xl font-semibold leading-none tracking-tight text-fg-title">
                                    Account</h3>
                                <p class="text-sm text-fg-text">Make changes to your account here.
                                    Click save
                                    when you're done.</p>
                            </div>
                            <div class="py6 md-py8 space-y-4">
                                <div class="flex flex-col wfull space-y-2">
                                    <label for="user_email"
                                        class="text-sm text-gray6 dark-text-gray4">Email</label>
                                    <input type="email" id="user_email" name="user_email"
                                        placeholder="johndoe@gmail.com"
                                        class="form-input pe9 b b-border bg-bg form-input-md rd-lg text-fg">
                                </div>
                                <div class="flex flex-col wfull space-y-2">
                                    <label for="user_name"
                                        class="text-sm text-gray6 dark-text-gray4">Username</label>
                                    <input type="text" id="user_name" name="user_name" placeholder="@doedoe"
                                        class="form-input pe9 b b-border bg-bg form-input-md rd-lg text-fg">
                                </div>
                            </div>
                            <div class="flex items-center pt6 md-pt-8">
                                <button
                                    class="w-full justify-center btn btn-md rd-md btn-solid btn-solid-primary text-white">
                                    Save changes
                                </button>
                            </div>
                        </form>
                        <form role="tabpanel"
                            class="ring-offset-gray950 p6 md-p-10 divide-y divide-border-strong focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-strong rd-md mt2 bg-bg flex-col"
                            data-tab-panel id="passTab" aria-labelledby="passTab">
                            <div class="space-y-1.5 pb6 md-pb-8">
                                <h3 class="text-2xl font-semibold leading-none tracking-tight text-fg-title">Password</h3>
                                <p class="text-sm text-fg-text">Change your password here. After saving, you'll be logged out.</p>
                            </div>
                            <div class="py6 md-py8 space-y-4">
                                <div class="flex flex-col wfull space-y-2">
                                    <label for="currentPassword"
                                        class="text-sm text-gray6 dark-text-gray4">Current Password</label>
                                    <input type="password" id="currentPassword" name="currentPassword"
                                        class="form-input pe9 b b-border bg-bg form-input-md rd-lg text-fg">
                                </div>
                                <div class="flex flex-col wfull space-y-2">
                                    <label for="new_password"
                                        class="text-sm text-gray6 dark-text-gray4">New Password</label>
                                    <input type="password" id="new_password" name="new_password"
                                        class="form-input pe9 b b-border bg-bg form-input-md rd-lg text-fg">
                                </div>
                            </div>
                            <div class="flex items-center pt6 md-pt-8">
                                <button
                                    class="w-full justify-center btn btn-md rd-md btn-solid btn-solid-primary text-white">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>