<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
    <link rel="stylesheet" href="./../../button.css">
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-xs btn-solid btn-solid-primary text-white transition-colors ease-linear rd-lg">
                    Xs
                </button>
                <button class="btn btn-sm btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    Sm
                </button>
                <button class="btn btn-md btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    Md
                </button>
                <button class="btn btn-lg btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    LG Button
                </button>
                <button class="btn btn-xl btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    XL Button
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
               Solid Variants /  Intent
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-md btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    Primary
                </button>
                <button class="btn btn-md btn-solid btn-solid-secondary text-white rd-lg transition-colors ease-linear">
                    Secondary
                </button>
                <button class="btn btn-md btn-solid btn-solid-accent text-white rd-lg transition-colors ease-linear">
                    Accent
                </button>
                <button class="btn btn-md btn-solid btn-solid-danger text-white rd-lg transition-colors ease-linear">
                    Danger
                </button>
                <button class="btn btn-md btn-solid btn-solid-warning text-white rd-lg transition-colors ease-linear">
                    Warning
                </button>
                <button class="btn btn-md btn-solid btn-solid-success text-white rd-lg transition-colors ease-linear">
                    Success
                </button>
                <button class="btn btn-md btn-solid btn-solid-info text-white rd-lg transition-colors ease-linear">
                    Info
                </button>
                <button class="btn btn-md btn-solid btn-solid-gray text-white rd-lg transition-colors ease-linear">
                    gray
                </button>
                <button class="btn btn-md btn-solid btn-solid-neutral text-bg rd-lg transition-colors ease-linear">
                    Neutral
                </button>
                <button class="btn btn-md btn-solid btn-solid-white text-fg rd-lg transition-colors ease-linear">
                    White
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Icon
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button
                    class="btn btn-md btn-solid btn-solid-primary gap-x-1.5 text-white rd-lg transition-colors ease-linear">
                    <span aria-hidden="true" class="flex i-carbon-bookmark-add"></span>
                    Icon left
                </button>
                <button
                    class="btn btn-md btn-solid btn-solid-primary gap-x-1.5 text-white rd-lg transition-colors ease-linear">
                    Icon Right
                    <span aria-hidden="true" class="flex i-carbon-bookmark-add"></span>
                </button>
                <button aria-label="icon button"
                    class="btn btn-icon-md btn-solid btn-solid-primary gap-x-1.5 text-white rd-lg transition-colors ease-linear">
                    <span aria-hidden="true" class="flex i-carbon-bookmark-add"></span>
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                State
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button disabled
                    class="btn btn-md btn-solid btn-solid-primary gap-x-1.5 text-white rd-lg transition-colors ease-linear">
                    <span aria-hidden="true" class="flex i-carbon-rotate-180 animate-spin"></span>
                    Loading
                </button>
                <button disabled
                    class="btn btn-md btn-solid btn-solid-primary text-white rd-lg transition-colors ease-linear">
                    Desabled
                </button>
            </div>
        </div>

        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
               Outline Variants /  Intent
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-md btn-outline btn-outline-primary rd-lg transition-colors ease-linear">
                    Primary
                </button>
                <button class="btn btn-md btn-outline btn-outline-secondary rd-lg transition-colors ease-linear">
                    Secondary
                </button>
                <button class="btn btn-md btn-outline btn-outline-accent rd-lg transition-colors ease-linear">
                    Accent
                </button>
                <button class="btn btn-md btn-outline btn-outline-danger rd-lg transition-colors ease-linear">
                    Danger
                </button>
                <button class="btn btn-md btn-outline btn-outline-warning rd-lg transition-colors ease-linear">
                    Warning
                </button>
                <button class="btn btn-md btn-outline btn-outline-success rd-lg transition-colors ease-linear">
                    Success
                </button>
                <button class="btn btn-md btn-outline btn-outline-info rd-lg transition-colors ease-linear">
                    Info
                </button>
                <button class="btn btn-md btn-outline btn-outline-gray rd-lg transition-colors ease-linear">
                    gray
                </button>
                <button class="btn btn-md btn-outline btn-outline-neutral rd-lg transition-colors ease-linear">
                    Neutral
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Soft
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-md btn-soft btn-soft-primary rd-lg transition-colors ease-linear">
                    Primary
                </button>
                <button class="btn btn-md btn-soft btn-soft-secondary rd-lg transition-colors ease-linear">
                    Secondary
                </button>
                <button class="btn btn-md btn-soft btn-soft-accent rd-lg transition-colors ease-linear">
                    Accent
                </button>
                <button class="btn btn-md btn-soft btn-soft-success rd-lg transition-colors ease-linear">
                    Success
                </button>
                <button class="btn btn-md btn-soft btn-soft-warning rd-lg transition-colors ease-linear">
                    Warning
                </button>
                <button class="btn btn-md btn-soft btn-soft-danger rd-lg transition-colors ease-linear">
                    Danger
                </button>

                <button class="btn btn-md btn-soft btn-soft-info rd-lg transition-colors ease-linear">
                    Info
                </button>
                <button class="btn btn-md btn-soft btn-soft-gray rd-lg transition-colors ease-linear">
                    Gray
                </button>
                <button class="btn btn-md btn-soft btn-soft-neutral rd-lg transition-colors ease-linear">
                    Neutral
                </button>

            </div>
        </div>

        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
               Solid Variants /  Intent
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-md btn-flexi btn-flexi-primary text-white rd-lg transition-colors ease-linear">
                    Primary
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-secondary text-white rd-lg transition-colors ease-linear">
                    Secondary
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-accent text-white rd-lg transition-colors ease-linear">
                    Accent
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-danger text-white rd-lg transition-colors ease-linear">
                    Danger
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-warning text-white rd-lg transition-colors ease-linear">
                    Warning
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-success text-white rd-lg transition-colors ease-linear">
                    Success
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-info text-white rd-lg transition-colors ease-linear">
                    Info
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-gray text-white rd-lg transition-colors ease-linear">
                    gray
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-neutral text-bg rd-lg transition-colors ease-linear">
                    Neutral
                </button>
                <button class="btn btn-md btn-flexi btn-flexi-white text-fg rd-lg transition-colors ease-linear">
                    White
                </button>
            </div>
        </div>

        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
               Ghost
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <button class="btn btn-md btn-ghost btn-ghost-primary rd-lg transition-colors ease-linear">
                    Primary
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-secondary rd-lg transition-colors ease-linear">
                    Secondary
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-accent rd-lg transition-colors ease-linear">
                    Accent
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-success rd-lg transition-colors ease-linear">
                    Success
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-warning rd-lg transition-colors ease-linear">
                    Warning
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-danger rd-lg transition-colors ease-linear">
                    Danger
                </button>

                <button class="btn btn-md btn-ghost btn-ghost-info rd-lg transition-colors ease-linear">
                    Info
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-gray rd-lg transition-colors ease-linear">
                    Gray
                </button>
                <button class="btn btn-md btn-ghost btn-ghost-neutral rd-lg transition-colors ease-linear">
                    Neutral
                </button>

            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>