<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Input
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <input type="text" placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Gray
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <input type="text" placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md bg-bg bg-bg-light rd-lg b-transparent text-fg">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Label
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex flex-col space-y-2">
                    <label for="user_email_2" class="text-sm text-gray6 dark-text-gray4">Your Email</label>
                    <input type="email" id="user_email_2" name="user_email_2" placeholder="johndoe@gmail.com" class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Label Inline
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex items-center gap2">
                    <label for="user_email" class="text-gray6 dark-text-gray4 min-wmax">Your Email</label>
                    <input type="email" id="user_email" name="user_email" placeholder="johndoe@gmail.com" class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Icon/Text - Grouped-Input
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <div class="relative">
                    <input type="text" placeholder="Your email here" class="ps9 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute left-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-user text-lg"></span>                         
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here" class="ps11 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute text-sm left-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        CDF                         
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your website URL" class="ps16 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute text-sm left-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        https://                        
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here" class="ps9 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute left-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-user text-lg"></span>                          
                    </span>
                </div>
                <div class="flex">
                    <span aria-hidden="true" class="p3 flex items-center text-fg-text bg-bg-light rd-l-md b-y b-l b-border-high/90 pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-user text-lg"></span>                         
                    </span>
                    <input type="text" placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md bg-bg b b-border-high/90 rd-r-lg text-fg ">
                </div>
                
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Icon - Grouped-Input : Trailling
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <div class="relative">
                    <input type="search" placeholder="Start tapping..." class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute right-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-search text-lg"></span>                                                  
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here" class="pe11 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute text-sm right-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        CDF                         
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here" class="pe24 ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute text-sm right-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        @gmail.com                         
                    </span>
                </div>
                <div class="flex">
                    <input type="text" placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md bg-bg b b-border-high/90 rd-l-lg text-fg">
                    <span aria-hidden="true" class="p3 flex items-center text-fg-text bg-bg-light rd-r-md b-y b-r b-border-high/90 pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-email text-lg"></span>                        
                    </span>
                </div>
                
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Disabled
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <input type="text" disabled placeholder="disabled input" class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                <div class="relative flex w-full">
                    <input type="search" disabled placeholder="Searching..." class="ui-form-base ui-form-input ui-form-input-md b b-border-high/90 bg-bg rd-lg text-fg">
                    <span aria-hidden="true" class="absolute right-3 hfull flex items-center top-0 text-fg-text pointer-events-none">
                        <span aria-hidden="true" class="flex i-carbon-rotate-180 animate-spin text-lg"></span>                                                                          
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>