<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Card : With Image
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md b b-border-strong bg-bg space-y-6">
                        <div class="aspect-video b b-dashed b-border-strong rd">

                        </div>
                        <div class="space-y-3 text-fg-text">
                            <h2
                                class="text-xl font-semibold text-fg-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Card : With Icon
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md b b-border-strong bg-bg space-y-6">
                        <div class="size-12 b b-dashed b-border-strong rd">

                        </div>
                        <div class="space-y-3 text-fg-text">
                            <h2
                                class="text-xl font-semibold text-fg-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Card Gray
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md bg-bg-surface space-y-6">
                        <div class="aspect-video b b-dashed b-border-strong rd">

                        </div>
                        <div class="space-y-3 text-fg-text">
                            <h2
                                class="text-xl font-semibold text-fg-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Card Soft
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md ui-soft ui-soft-gray space-y-6">
                        <div class="aspect-video b b-dashed b-border-strong rd">

                        </div>
                        <div class="space-y-3">
                            <h2
                                class="text-xl font-semibold text-fg-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Card Subtle
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md ui-subtle ui-subtle-gray space-y-6">
                        <div class="aspect-video b b-dashed b-border-strong rd">

                        </div>
                        <div class="space-y-3 text-fg-text">
                            <h2
                                class="text-xl font-semibold text-fg-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Card With Icon
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p8 rd-md ui-subtle ui-subtle-gray space-y-6">
                        <div class="size-12 ui-subtle ui-subtle-gray rd flex items-center justify-center text-fg-subtitle">
                            <span aria-hidden="true" class="flex i-carbon-mammogram-stacked text-2xl"></span>
                        </div>
                        <div class="space-y-3 text-fg-text">
                            <h2
                                class="text-xl font-semibold text-fg-title">Social Media Strategy
                            </h2>
                            <p>
                                Crafting bespoke strategies to amplify your brand's presence across social platforms, driving meaningful engagement
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                E-Commerce Card
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p1 rd-lg bg-bg-surface relative">
                        <div class="relative">
                            <div class="absolute inset-x-1 top-1 flex justify-between items-center text-fg-text text-xs">
                                <span class="bg-gray2/80 dark-bg-gray8/80 b b-gray3 dark-b-gray7 px2 pypx rd-full">
                                    -40%
                                </span>
                                <button aria-label="add to favorite" class="p1.5 bg-gray9/80 backdrop-filter backdrop-blur-sm text-white rd-full">
                                    <span aria-hidden="true" class="flex i-carbon-favorite-filled text-xl"></span>                                    
                                </button>
                            </div>
                            <img src="/images/bottes-cuir.webp" alt="bottes cuir" class="wfull hauto rd-md">
                        </div>
                        <div class="flex justify-between items-start gap2 px4 pt3 pb2 text-sm">
                            <h2 class="flex-1 text-fg-title font-medium">
                                Air Nike
                            </h2>
                            <span class="text-fg-subtitle">12$</span>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                E-Commerce Card 2
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto wfull">
                    <!-- card component -->
                    <div class="p1 rd-lg bg-bg-surface relative space-y-3">
                        <div class="px4 pt2">
                            <span class="text-fg-subtitle text-sm">
                                Top Seller
                            </span>
                        </div>
                        <img src="/images/sports-shoe.webp" alt="Sport Shoe" class="wfull hauto rd-md">
                        <div class="px4 pb2 text-sm space-y-2">
                            <div class="flex justify-between items-start gap2">
                                <h2 class="flex-1 text-fg-title font-medium">
                                    Air Nike
                                </h2>
                                <span class="text-fg-subtitle">12$</span>
                            </div>
                            <div class="flex justify-between items-start gap2 text-sm">
                                <p class="flex-1 text-fg-muted">
                                    Colored
                                </p>
                                <button class="btn btn-xs btn-solid btn-solid-neutral text-white rd-md">
                                    Add to card
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>