<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Link Defaulft
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div>
                    <a href="#" class="text-fg-text hover-text-fg-title">
                        Profile Page
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Underline
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div>
                    <a href="#"
                        class="text-fg-text hover-text-fg-title underline">
                        Profile Page
                    </a>
                </div>
                <div>
                    <a href="#"
                        class="text-fg-text hover-text-fg-title underline underline-offset-2">
                        Undeline Offset
                    </a>
                </div>
                <div>
                    <a href="#"
                        class="text-green6 dark-text-green5 hover-text-fg-title underline underline-offset-2 decoration-green6 dark-decoration-green5 hover-decoration-gray9 dark-hover-decoration-white">
                        Undeline colored
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Icon
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div>
                    <a href="#"
                        class="text-fg-text hover-text-fg-title underline flex items-center gap-x2.5">
                        <span aria-hidden="true" class="flex text-bas i-carbon-chevron-left"></span>
                        Go Back
                    </a>
                </div>
                <div>
                    <a href="#"
                        class="text-fg-text hover-text-fg-title underline underline-offset-2 flex items-center gap-x2.5">
                        <span aria-hidden="true" class="flex text-bas i-carbon-chevron-left"></span>
                        Back To Profile
                    </a>
                </div>
                <div>
                    <a href="#"
                        class="text-green6 dark-text-green5 hover-text-fg-title flex items-center gap-x2.5">
                        <span aria-hidden="true" class="flex text-bas i-carbon-chevron-left"></span>
                        Home Page
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Button Link
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <a href="#"
                    class="btn btn-sm rd-md btn-solid btn-solid-neutral text-bg">
                    Click me
                </a>
                <a href="#"
                    class="btn btn-sm rd-md btn-solid btn-solid-white text-fg-title">
                    Click me
                    <span aria-hidden="true" class="flex text-bas i-carbon-chevron-right"></span>

                </a>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>