<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default radio
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" name="def_radio" id="def_check" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="def_check" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default radio</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" checked name="def_radio" id="def_radio_checked" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="def_radio_checked" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default radio Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default radio Disabled
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" disabled name="def_radio_disabled" id="def_radio_disabled" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="def_radio_disabled" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default radio</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" disabled checked name="def_radio_checked_disabled" id="def_radio_checked_disabled" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="def_radio_checked_disabled" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default radio Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Required
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" name="def_radio_required" id="def_radio_required" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="def_radio_required" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Default radio <span aria-hidden="true" class="text-red6 dark-text-red5">*</span></label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Grouped
            </h1>
            <div class="p6 grid sm-grid-cols-2 gap6 rd-lg b b-border">
                <div class="b b-border-strong p4 rd">
                    <h3 class="text-gray9 dark-text-gray50">Contact Mode</h3>
                    <div class="flex gap-x3 text-sm items-start mt4">
                        <input type="radio" checked name="grouped_1" id="grouped_1_1" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_1_1" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Email</label>
                    </div>
                    <div class="flex gap-x3 text-sm items-start mt2">
                        <input type="radio" name="grouped_1" id="grouped_1_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_1_2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Phone (SMS)</label>
                    </div>
                    <div class="flex gap-x3 text-sm items-start mt2">
                        <input type="radio" name="grouped_1" id="grouped_1_3" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_1_3" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Push Notification</label>
                    </div>
                </div>
                <div class="b b-border-strong p4 rd">
                    <h3 class="text-gray9 dark-text-gray50">Choose something</h3>
                    <div class="flex gap-x3 text-sm items-start mt4">
                        <input type="radio" checked name="grouped_2" id="grouped_2_1" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_2_1" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">ReactJS</label>
                    </div>
                    <div class="flex gap-x3 text-sm items-start mt2">
                        <input type="radio" name="grouped_2" id="grouped_2_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_2_2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Angular</label>
                    </div>
                    <div class="flex gap-x3 text-sm items-start mt2">
                        <input type="radio" name="grouped_2" id="grouped_2_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                        <label for="grouped_2_2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">vueJS</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Style
            </h1>
            <div class="p6 flex flex-wrap gap-y3 gap-x6 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" name="radio_styled_1" id="radio_styled_1" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="radio_styled_1" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="radio" name="radio_styled_2" id="radio_styled_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-secondary rd-full">
                    <label for="radio_styled_2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Help
            </h1>
            <div class="p6 flex flex-col gap4 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input checked type="radio" name="radio_help_1" id="radio_help_1" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <label for="radio_help_1" class="text-fg-title font-medium text-base peer-disabled-op80 peer-disabled-pointer-events-none flex flex-col">
                        Label
                        <p class="text-fg-text text-sm font-light">
                            Please check this box
                        </p>
                    </label>
                </div>
                <label for="radio_help_2" class="flex gap-x3 text-sm items-start p4 rd-md b b-border-strong has-[:checked]-b-violet6 dark-has-[:checked]-b-violet5">
                    <input type="radio" name="radio_help_1" id="radio_help_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
                    <div class="text-fg-title font-medium text-base peer-disabled-op80 peer-disabled-pointer-events-none flex flex-col">
                        Label
                        <p class="text-fg-text text-sm font-light">
                            Please check this box
                        </p>
                    </div>
                </label>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>