<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Skeleton
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="mx-auto max-wxl flex items-start gap-x4  animate-pulse">
                    <div class="size-14 rd-full bg-bg-higher">
                    </div>
                    <div class="flex-1 space-y-3">
                        <h3 class="text-xl content-['skeleton'] text-transparent w4/5 rd-full bg-bg-higher">sd</h3>
                        <p class="text-transparent text-xs w9/12 bg-bg-higher rd-full">
                            description
                        </p>
                        <p class="text-transparent text-xs w3/6 bg-bg-higher rd-full">
                            description
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Card Skeleton
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="max-wsm mxauto p8 rd-md b b-border-high bg-bg space-y-6   animate-pulse">
                    <div class="aspect-video bg-bg-higher rd animate-pulse">

                    </div>
                    <div class="space-y-3 text-fg-text">
                        <h3 class="text-lg content-['skeleton'] text-transparent rd-full bg-bg-higher">sd</h3>
                        <p class="text-transparent text-xs w9/12 bg-bg-higher rd-full">
                            description
                        </p>
                        <p class="text-transparent text-xs w3/6 bg-bg-higher rd-full">
                            description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>