<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Kbd Defaulft
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <kbd class="px2 py1 text-sm rd-md bg-bg-surface text-fg-title">
                    Ctrl
                </kbd>
                <kbd class="px2 py1 text-sm bg-bg-surface text-fg-title">
                    Alt
                </kbd>
                <kbd
                    class="px2 py1 text-sm rd-md b b-border text-fg-title">
                    Ctrl + A
                </kbd>
                <kbd
                    class="ui-subtle ui-subtle-gray rd-md px2 py1 text-sm">
                    fn + F12
                </kbd>
                <kbd
                    class="ui-soft ui-soft-gray rd-md px2 py1 text-sm">
                    A + Ctrl
                </kbd>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                KBD with Icon - Symbol
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <kbd class="px2 py1 text-sm rd-md bg-bg-surface text-fg-title">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>                      
                </kbd>
                <kbd
                    class="px2 py1 text-sm rd-md b b-border text-fg-title">
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18v-6H5l7-7 7 7h-4v6H9z"/></svg>
                </kbd>
                <kbd     
                    class="px2 py1 min-w[30px] flex items-center justify-center text-sm rd-md b b-border text-fg-title">
                    /
                </kbd>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Grouped
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <div class="flex items-center gap-x2">
                    <kbd class="px2 py1 text-sm rd-md bg-bg-surface text-fg-title flex items-center gap-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg> 
                        +
                        B                     
                    </kbd>
                    <span class="text-fg-text">
                        And
                    </span>
                    <kbd class="px2 py1 text-sm rd-md bg-bg-surface text-fg-title flex items-center gap-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg> 
                        + R                    
                    </kbd>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>