<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Avatar Default
            </h1>
            <div class="p6 flex flex-wrap gap2 rd-lg b b-border">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar" class="size-12 object-cover">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover rd-sm">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover  rd">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover rd-md">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover rd-lg">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover rd-xl">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="size-12 object-cover rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                    class="size-6 object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar sm"
                    class="size-8 object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                    class="size-10 object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar lg"
                    class="size-12 object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xl"
                    class="size-14 object-cover rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                ShipText/Badge
            </h1>
            <div class="p6 flex flex-wrap items-center gap5 rd-lg b b-border">
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span class="absolute bottom-0 left-3 bg-blue6 text-white px1 text-xs pypx rd-full wmax">
                        Online
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-green6 size-3 flex b-2 b-white dark-b-gray950 rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span class="absolute top-0 right-3 bg-blue6 text-white px1 text-xs pypx rd-full wmax">
                        top-left
                    </span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                PlaceHolder : Text/Image
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <div
                    class="size-10 rd-full object-cover flex items-center justify-center p1 bg-bg-light text-fg-subtitle truncate">
                    <span aria-hidden="true" class="flex i-carbon-image"></span>
                </div>
                <div
                    class="size-10 rd-full object-cover flex items-center justify-center p1 ui-subtle ui-subtle-primary truncate">
                    <span aria-hidden="true" class="flex i-carbon-user"></span>
                </div>
                <div
                    class="size-10 rd-full object-cover flex items-center justify-center p1 ui-soft ui-soft-secondary truncate">
                    JK
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Grouped
            </h1>
            <div class="p6 flex flex-wrap items-center gap2 rd-lg b b-border">
                <div class="-space-x-3 flex items-center wfull">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-2 b-white dark-b-gray950">
                </div>
                <div class="-space-x-3 flex items-center wfull -ml-1">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="size-10 object-cover rd-full b-4 b-white dark-b-gray950">
                    <span class="size-10 b-4 b-white dark-b-gray950 flex items-center justify-center rd-full bg-bg-light text-fg-subtitle text-sm font-medium">
                        +4
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>