<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default DropDown
            </h1>
            <div class="p6 flex justify-center flex-wrap items-center gap4 gap-y3 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-1"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm">
                    Open Dropdown
                </button>
                <div role="list" id="dropdown-1" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity] ui-card [--card-radius:1rem] [--card-padding:0.5rem]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 inner-radius">
                        Item 1
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 inner-radius">
                        Item 2
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 inner-radius">
                        Item 3
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 inner-radius">
                        Item 4
                    </a>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-2"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm group flex items-center gap-x2 group">
                    With Indicator
                    <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-chevron-down group-aria-expanded-rotate-180"></span>
                </button>
                <div role="list"  id="dropdown-2" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 1
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 2
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 3
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 4
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Hover behavior
            </h1>
            <div class="p6 flex justify-center flex-wrap items-center gap4 gap-y3 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-3"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm group flex items-center gap-x2">
                    Hover me
                    <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-chevron-down"></span>
                </button>
                <div role="list" data-drop-down data-fx-popper data-trigger-strategy="hover" id="dropdown-3" aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 1
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 2
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 3
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex duration-200 hover-bg-bg-muted p2 rd-md">
                        Item 4
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Close Behavior
            </h1>
            <div class="p6 flex justify-center flex-wrap items-center gap4 gap-y3 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-4"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm">
                    Prevent Close From Inside
                </button>
                <div role="list" data-prevent-close-inside id="dropdown-4" data-drop-down data-fx-popper
                    class="z20 w56 p2 b b-border-strong dark-b-gray8 bg-gray1/80 dark-bg-gray9/80 text-gray8 dark-text-gray50 backdrop-filter backdrop-blur-xl rd-lg flex flex-col overflow-hidden op0 invisible data-[state=open]-op100 data-[state=open]-visible transition-[opacity]">
                    <div class="pb2 b-b mb2  b-b-gray4 dark-b-b-gray6 flex items-center gap-x3">
                        <span w9 h9 bg-gray50 dark-bg-gray950 rd-full flex items-center justify-center text-gray1>
                            <span flex i-carbon-user-activity></span>
                        </span>
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-fg-title">Johnkat MJ</h4>
                            <span class="text-sm text-fg-text">FrontEnd Designer</span>
                        </div>
                    </div>
                    <div role="list">
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-edit"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-settings"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-activity"></span>
                            Billing
                        </a>
                        <button
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span flex items-center flex-1 gap-x-3>
                                <span min-wmax flex i-carbon-moon></span>
                                <span>Use dark Mode</span>
                            </span>
                            <span flex items-center>
                                <input type="checkbox" name="switch_1" id="switch_1" class="appearance-none  h5 w9
                relative focus-visible-ring-2 focus-visible-ring-blue6
                dark-indeterminate-bg-current dark-indeterminate-b-transparent disabled-op50 disabled-cursor-not-allowed focus-ring-0 focus-ring-transparent focus-ring-offset-transparent
                focus-visible-ring-offset-2 focus-visible-ring-offset-white dark-focus-visible-ring-offset-gray9
                dark-focus-visible-ring-blue5 rd-full 
                bg-gray950 b b-gray6 cursor-pointer
                before-absolute before-content-empty before-w4 before-h-4 
                before-bg-gray2  before-rd-full 
                before-top-1/2 before--translate-y-1/2 before-left-0.5
                checked-bg-none
                before-duration-300 before-ease-linear checked-before-translate-x-3.5 peer" />
                            </span>
                        </button>
                    </div>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-5"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm">
                    Prevent Close From Outside
                </button>
                <div role="list" data-prevent-close-outise id="dropdown-5" data-drop-down data-fx-popper
                    class="z20 w56 p2 b b-border-strong dark-b-gray8 bg-gray1/80 dark-bg-gray9/80 text-gray8 dark-text-gray50 backdrop-filter backdrop-blur-xl rd-lg flex flex-col overflow-hidden op0 invisible data-[state=open]-op100 data-[state=open]-visible transition-[opacity]">
                    <div class="pb2 b-b mb2  b-b-gray4 dark-b-b-gray6 flex items-center gap-x3">
                        <span w9 h9 bg-gray50 dark-bg-gray950 rd-full flex items-center justify-center text-gray1>
                            <span flex i-carbon-user-activity></span>
                        </span>
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-fg-title">Johnkat MJ</h4>
                            <span class="text-sm text-fg-text">FrontEnd Designer</span>
                        </div>
                    </div>
                    <div role="list">
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-edit"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-settings"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-bg-gray1/90 dark-focus-bg-gray9/90 outline-none ease-linear flex items-center gap-x3 hover-bg-gray2/80 dark-hover-bg-gray8/80 p2 rd-md wfull">
                            <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-activity"></span>
                            Billing
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Icons / Separator
            </h1>
            <div class="p6 flex flex-wrap justify-center items-center gap4 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-6"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm group flex items-center gap-x2">
                    User Setting
                    <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-chevron-down"></span>
                </button>
                <div role="list" id="dropdown-6" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-edit"></span>
                        Edit Profile
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-settings"></span>
                        Setting
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-activity"></span>
                        Billing
                    </a>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-7"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm group flex items-center gap-x2 group">
                    With Separator
                    <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-chevron-down group-aria-expanded-rotate-180"></span>
                </button>
                <div role="list" id="dropdown-7" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity] divide-y divide-gray2 dark-divide-gray8 children-py2 first-children-pt-0 last-children-pb-0">
                    <div class="flex flex-col">
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-edit"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-settings"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-activity"></span>
                            Billing
                        </a>
                    </div>
                    <div>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-logout"></span>
                            Log Out
                        </a>
                    </div>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-8"
                    class="b b-border ease-linear duration-200 hover-bg-gray1 dark-hover-bg-gray9 text-gray9 dark-text-gray2 px4 py2 rd-lg text-sm group flex items-center gap-x2 group">
                    With Separator 2 Right
                    <span aria-hidden="true" class="flex ease-linear duration-200 group-aria-expanded-rotate-180 i-carbon-chevron-down"></span>
                </button>
                <div role="list" id="dropdown-8" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w60 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity] divide-y divide-gray2 dark-divide-gray8 children-py2 first-children-pt-0 last-children-pb-0">
                    <div class="flex flex-col">
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-edit"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-settings"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-activity"></span>
                            Billing
                        </a>
                    </div>
                    <div>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-trash-can"></span>
                            Delete Account
                        </a>
                    </div>
                    <div>
                        <a href="#link" aria-label="link alt text"
                            class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                            <span aria-hidden="true" class="flex i-carbon-logout"></span>
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Custom Trigger
            </h1>
            <div class="p6 flex justify-center items-center gap4 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-9" aria-label="toggle dropdown"
                    class="text-fg-subtitle flex items-center gap-x0.5 group">
                    <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                        class="size-12 rd-full object-cover">
                    <span aria-hidden="true" class="flex ease-linear duration-200 group-aria-expanded-rotate-180 i-carbon-chevron-down"></span>
                </button>
                <div role="list" id="dropdown-9" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-edit"></span>
                        Edit Profile
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-settings"></span>
                        Setting
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-activity"></span>
                        Billing
                    </a>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-10" aria-label="toggle dropdown"
                    class="text-fg-subtitle flex items-center gap-x2 p2 rd-lg b b-border group">
                    <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                        class="size-9 rd-full object-cover">
                    <div class="flex items-start flex-col">
                        <h4 class="font-semibold text-fg-title">Johnkat MJ</h4>
                        <span class="text-sm text-gray6 dark-text-gray4">FrontEnd Designer</span>
                    </div>
                    <span aria-hidden="true" class="flex ease-linear duration-200 group-aria-expanded-rotate-180 i-carbon-chevron-down"></span>
                </button>
                <div role="list" id="dropdown-10" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-edit"></span>
                        Edit Profile
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-settings"></span>
                        Setting
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-activity"></span>
                        Billing
                    </a>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Custom DropDown
            </h1>
            <div class="p6 flex flex-wrap justify-center items-center gap4 rd-lg b b-border h96">
                <button data-dropdown-trigger data-dropdown-id="dropdown-11" aria-label="toggle dropdown"
                    class="text-fg-subtitle flex items-center gap-x2 p2 rd-lg b b-border group">
                    <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                        class="size-9 rd-full object-cover">
                    <div class="flex items-start flex-col">
                        <h4 class="font-semibold text-fg-title">Johnkat MJ</h4>
                        <span class="text-sm text-gray6 dark-text-gray4">FrontEnd Designer</span>
                    </div>
                    <span aria-hidden="true" class="flex ease-linear duration-200 group-aria-expanded-rotate-180 i-carbon-chevron-down"></span>
                </button>
                <div role="list" id="dropdown-11" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <div class="pb2 b-b mb2 b-b-border">
                        <h2 class="font-semibold text-fg-text">My Profile</h2>
                    </div>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-edit"></span>
                        Edit Profile
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-settings"></span>
                        Setting
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-activity"></span>
                        Billing
                    </a>
                </div>
                <button data-dropdown-trigger data-dropdown-id="dropdown-12" aria-label="toggle dropdown"
                    class="text-fg-subtitle flex items-center gap-x2 p2 rd-lg b b-border group">
                    Account
                    <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-chevron-down group-aria-expanded-rotate-180"></span>
                </button>
                <div role="list" id="dropdown-12" data-drop-down data-fx-popper aria-hidden="true"
                    class="ui-popper z20 op0 invisible data-[state=open]-op100 data-[state=open]-visible w56 p2 bg-white b b-gray1 dark-bg-gray950 dark-b-gray9 rd-lg flex flex-col overflow-hidden text-fg-text ease-linear transition-[opacity]">
                    <div class="pb2 b-b mb2 b-b-border flex items-center gap-x3">
                        <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                            class="size-9 rd-full object-cover">
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-fg-title">Johnkat MJ</h4>
                            <span class="text-sm text-gray6 dark-text-gray4">FrontEnd Designer</span>
                        </div>
                    </div>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-edit"></span>
                        Edit Profile
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-settings"></span>
                        Setting
                    </a>
                    <a href="#link" aria-label="link alt text"
                        class="focus-outline focus-bg-gray1 dark-focus-bg-gray9 outline-none ease-linear flex items-center gap-x3 duration-200 hover-bg-bg-muted p2 rd-md">
                        <span aria-hidden="true" class="flex i-carbon-activity"></span>
                        Billing
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>