<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
          <h1 class="text-xl font-semibold text-fg-title">Meter</h1>
          <div class="p6 flex flex-col gap8 rd-lg b b-border">
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-md ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-md ui-meter-rounded-md text-emerald6 bg-bg-muted"
            ></meter>
          </div>
        </div>
        <div class="space-y-6">
          <h1 class="text-xl font-semibold text-fg-title">
            Progress indicator
          </h1>
          <div class="p6 flex flex-col gap8 rd-lg b b-border">
            <div class="">
              <div class="flex justify-end" style="width: 40%">
                <span class="text-sm text-fg-text">40%</span>
              </div>
              <meter
                max="10"
                value="4"
                class="ui-meter ui-meter-h-md ui-meter-rounded-md text-primary bg-bg-muted"
              ></meter>
            </div>
            <div class="relative hmax">
              <meter
                max="100"
                value="70"
                class="ui-meter ui-meter-h-2xl ui-meter-rounded-md text-primary bg-bg-muted"
              ></meter>
              <div
                class="flex justify-end absolute z-5 top-0 left-0 h6 items-center"
                style="width: 40%"
              >
                <span class="text-sm text-white">70%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-6">
          <h1 class="text-xl font-semibold text-fg-title">Meter Size</h1>
          <div class="p6 flex flex-col gap8 rd-lg b b-border">
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-xs ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-sm ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-md ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-lg ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-xl ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
            <meter
              max="9"
              value="4"
              class="ui-meter ui-meter-h-2xl ui-meter-rounded-md text-primary bg-bg-muted"
            ></meter>
          </div>
        </div>
      </section>
      
    <script type="module" src="/src/main.ts"></script>
</body>

</html>