<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default select
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Gray
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="ui-form-base ui-form-input ui-form-select bg-bg-surface  ui-form-input-md rd-lg text-fg bg-bg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Label
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="space-y-2">
                    <label for="country-list" class="text-sm text-gray6 dark-text-gray4">Select Country</label>
                    <div class="relative">
                        <select name="country-list" id="country-list"
                            class="ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fg">
                            <option value="" disabled class="op60">Search Country</option>
                            <option value="DRC">DR Congo</option>
                            <option value="TZ">Tanzania</option>
                            <option value="MA">Morocco</option>
                            <option value="NG">Nigeria</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Icon - Grouped-Input
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="ps9 ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true" class="absolute left-3 hfull flex items-center top-0 text-fg-text peer-invalid-text-red6 dark-invalid-text-red5">
                        <span aria-hidden="true" class="flex i-carbon-flag-filled"></span>
                    </span>
                </div>
                <div class="relative flex">
                    <span aria-hidden="true" class="p2.5 flex items-center bg-bg-surface b b-border-strong b-r-indigo-50 rd-l-md text-fg-text">
                        <span class="flex i-carbon-flag-filled"></span>
                    </span>
                    <select name="select-country" id="select-country"
                        class="ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-r-lg text-fg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Disabled
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="relative">
                    <select name="select-country" disabled id="select-country" class="ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
                <div class="relative">
                    <select name="select-country" disabled id="select-country"
                        class="ps9 ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fgg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true" class="absolute left-3 hfull flex items-center top-0 text-fg-text">
                        <span class="flex i-carbon-rotate-180 animate-spin"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Custom Icon Indicator
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="relative wfull">
                    <select name="select-country" id="select-country"
                        class="pe9 ui-form-base ui-form-input ui-form-select bg-bg b b-border-strong/90 ui-form-input-md rd-lg text-fg">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true"
                        class="absolute right-3 inset-y-px text-fg-text pointer-events-none flex items-center bg-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                          </svg>                          
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>