<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Checkbox
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="def_check" id="def_check" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="def_check" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default checkbox</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" checked name="def_check_checked" id="def_check_checked" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="def_check_checked" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default checkbox Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Checkbox Disabled
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" disabled name="def_check_disabled" id="def_check_disabled" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="def_check_disabled" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default checkbox</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" disabled checked name="def_check_checked_disabled" id="def_check_checked_disabled" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="def_check_checked_disabled" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Default checkbox Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Required
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="def_check_required" id="def_check_required" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="def_check_required" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none ">Default checkbox <span aria-hidden="true" class="text-red6 dark-text-red5">*</span></label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Style
            </h1>
            <div class="p6 flex flex-wrap gap-y3 gap-x6 rd-lg b b-border">
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="check_styled_1" id="check_styled_1" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                    <label for="check_styled_1" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="check_styled_2" id="check_styled_2" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer rd text-emerald6 dark-text-emerald5 peer">
                    <label for="check_styled_2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="check_styled_3" id="check_styled_3" class="fui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer rd text-violet6 dark-text-violet5 peer">
                    <label for="check_styled_3" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="check_styled_4" id="check_styled_4" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer rd text-red6 dark-text-red5 peer">
                    <label for="check_styled_4" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Label</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Help
            </h1>
            <div class="p6 flex flex-col gap4 rd-lg b b-border">
                <label for="check_help_1" class="flex gap-x3 text-sm items-start">
                    <input type="checkbox" name="check_help_1" id="check_help_1" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer rd text-primary500 peer">
                    <div class="text-fg-title font-medium text-base peer-disabled-op80 peer-disabled-pointer-events-none flex flex-col">
                        Label
                        <p class="text-fg-text text-sm font-light">
                            Please check this box
                        </p>
                    </div>
                </label>
                <label for="check_help_2" class="flex gap-x3 text-sm items-start p4 rd-md b b-border-strong has-[:checked]-b-primary600 dark-has-[:checked]:b-primary600">
                    <input type="checkbox" name="check_help_2" id="check_help_2" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer rd text-primary500 peer">
                    <div class="text-fg-title font-medium text-base peer-disabled-op80 peer-disabled-pointer-events-none flex flex-col">
                        Label
                        <p class="text-fg-text text-sm font-light">
                            Please check this box
                        </p>
                    </div>
                </label>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Inside List
            </h1>
            <div class="p6 flex flex-col gap4 rd-lg b b-border">
                <ul class="mx-auto max-wxl wfull b b-border-strong rd-md divide-y divide-gray2 dark-divide-gray8">
                    <li class="py2 px4">
                        <div class="flex gap-x3 text-sm items-start">
                            <input type="checkbox" name="check_opt1" id="check_opt1" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                            <label for="check_opt1" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Can code With React</label>
                        </div>
                    </li>
                    <li class="py2 px4">
                        <div class="flex gap-x3 text-sm items-start">
                            <input type="checkbox" name="check_opt2" id="check_opt2" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                            <label for="check_opt2" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Can Make Beautifull Design With UnoCSS</label>
                        </div>
                    </li>
                    <li class="py2 px4">
                        <div class="flex gap-x3 text-sm items-start">
                            <input type="checkbox" name="check_opt3" id="check_opt3" class="ui-checkbox-radio-base ui-form-checkbox size-4 mt0.5 peer text-primary500 rd">
                            <label for="check_opt3" class="text-fg-text peer-disabled-op80 peer-disabled-pointer-events-none">Can kill HTML</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>