<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Outline Badge
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <span class="px2 py1 text-sm rd-md ui-outline ui-outline-primary">
                    Primary
                </span>
                <span class="px2 py1 text-sm rd-md ui-outline ui-outline-secondary">
                    Secondary
                </span>
                <span class="px2 py1 text-sm rd-md ui-outline ui-outline-accent">
                    Accent
                </span>
                <span class="px2 py1 text-sm rd-md ui-outline ui-outline-danger">
                    Danger
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Solid Badge
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <span class="px2 py1 text-sm rd-md ui-solid ui-solid-primary">
                    Primary
                </span>
                <span class="px2 py1 text-sm rd-md ui-solid ui-solid-secondary">
                    Secondary
                </span>
                <span class="px2 py1 text-sm rd-md ui-solid ui-solid-accent">
                    Accent
                </span>
                <span class="px2 py1 text-sm rd-md ui-solid ui-solid-danger">
                    Danger
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Soft Badge
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <span class="px2 py1 text-sm rd-md ui-soft ui-soft-primary">
                    Primary
                </span>
                <span class="px2 py1 text-sm rd-md ui-soft ui-soft-secondary">
                    Secondary
                </span>
                <span class="px2 py1 text-sm rd-md ui-soft ui-soft-accent">
                    Accent
                </span>
                <span class="px2 py1 text-sm rd-md ui-soft ui-soft-danger">
                    Danger
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Subtle Badge
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <span class="px2 py1 text-sm rd-md ui-subtle ui-subtle-primary">
                    Primary
                </span>
                <span class="px2 py1 text-sm rd-md ui-subtle ui-subtle-secondary">
                    Secondary
                </span>
                <span class="px2 py1 text-sm rd-md ui-subtle ui-subtle-accent">
                    Accent
                </span>
                <span class="px2 py1 text-sm rd-md ui-subtle ui-subtle-danger">
                    Danger
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size
            </h1>
            <div class="p6 flex items-center flex-wrap gap1 rd-lg b b-border">
                <span class="ui-size-xs rd-md ui-subtle ui-subtle-primary">
                    Xs
                </span>
                <span class="ui-size-sm rd-md ui-subtle ui-subtle-primary">
                    Sm
                </span>
                <span class="ui-size-md rd-md ui-subtle ui-subtle-primary">
                    Md
                </span>
                <span class="ui-size-lg rd-md ui-subtle ui-subtle-primary">
                    Lg
                </span>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>