:root {
    --c-white: 0 0% 100%;
    --c-primary-50: 252 100% 97%;
    --c-primary-100: 252 100% 94%;
    --c-primary-200: 251 98% 89%;
    --c-primary-300: 249 95% 82%;
    --c-primary-400: 247 90% 74%;
    --c-primary-500: 245 86% 67%;
    --c-primary-600: 243 75% 59%;
    --c-primary-700: 244 57% 51%;
    --c-primary-800: 245 54% 41%;
    --c-primary-900: 245 47% 35%;
    --c-primary-950: 246 47% 20%;

    --c-secondary-50: 183 100% 96%;
    --c-secondary-100: 185 96% 90%;
    --c-secondary-200: 186 93% 82%;
    --c-secondary-300: 187 92% 69%;
    --c-secondary-400: 188 86% 53%;
    --c-secondary-500: 187 97% 43%;
    --c-secondary-600: 187 92% 36%;
    --c-secondary-700: 188 78% 31%;
    --c-secondary-800: 201 90% 27%;
    --c-secondary-900: 190 56% 24%;
    --c-secondary-950: 192 79% 15%;

    --c-accent-50: 210 100% 97%;
    --c-accent-100: 209 92% 94%;
    --c-accent-200: 209 90% 86%;
    --c-accent-300: 209 89% 74%;
    --c-accent-400: 209 88% 60%;
    --c-accent-500: 208 84% 48%;
    --c-accent-600: 209 92% 36%;
    --c-accent-700: 210 90% 32%;
    --c-accent-800: 211 84% 27%;
    --c-accent-900: 212 75% 24%;
    --c-accent-950: 214 75% 16%;

    --c-success-50: 151 81% 96%;
    --c-success-100: 149 80% 90%;
    --c-success-200: 152 76% 80%;
    --c-success-300: 156 72% 67%;
    --c-success-400: 158 64% 52%;
    --c-success-500: 160 84% 39%;
    --c-success-600: 161 94% 30%;
    --c-success-700: 163 94% 24%;
    --c-success-800: 163 88% 20%;
    --c-success-900: 164 86% 16%;
    --c-success-950: 167 91% 9%;

    --c-warning-50: 33 100% 96%;
    --c-warning-100: 34 100% 92%;
    --c-warning-200: 32 98% 83%;
    --c-warning-300: 31 97% 72%;
    --c-warning-400: 27 96% 61%;
    --c-warning-500: 25 95% 53%;
    --c-warning-600: 21 90% 48%;
    --c-warning-700: 17 88% 40%;
    --c-warning-800: 15 79% 34%;
    --c-warning-900: 15 75% 28%;
    --c-warning-950: 17 82% 14%;

    --c-info-50: 204 100% 97%;
    --c-info-100: 204 94% 94%;
    --c-info-200: 201 94% 86%;
    --c-info-300: 199 95% 74%;
    --c-info-400: 198 93% 60%;
    --c-info-500: 199 89% 48%;
    --c-info-600: 200 98% 39%;
    --c-info-700: 201 96% 32%;
    --c-info-800: 201 90% 27%;
    --c-info-900: 202 80% 24%;
    --c-info-950: 204 80% 16%;

    --c-danger-50: 0 86% 97%;
    --c-danger-100: 0 93% 94%;
    --c-danger-200: 0 96% 89%;
    --c-danger-300: 0 94% 82%;
    --c-danger-400: 0 91% 71%;
    --c-danger-500: 0 84% 60%;
    --c-danger-600: 0 72% 51%;
    --c-danger-700: 0 74% 42%;
    --c-danger-800: 0 70% 35%;
    --c-danger-900: 0 63% 31%;
    --c-danger-950: 0 75% 15%;

    --c-gray-50: 0 0% 98%;
    --c-gray-100: 240 5% 96%;
    --c-gray-200: 240 6% 90%;
    --c-gray-300: 240 5% 84%;
    --c-gray-400: 240 5% 65%;
    --c-gray-500: 240 4% 46%;
    --c-gray-600: 240 5% 34%;
    --c-gray-700: 240 5% 26%;
    --c-gray-800: 240 4% 16%;
    --c-gray-900: 240 6% 10%;
    --c-gray-950: 240 10% 4%;
}