:root {
    --c-white: 0 0% 100%;
    --c-primary-50: 213 36% 97%;
    --c-primary-100: 213 41% 94%;
    --c-primary-200: 213 54% 86%;
    --c-primary-300: 210 57% 74%;
    --c-primary-400: 208 56% 60%;
    --c-primary-500: 209 50% 48%;
    --c-primary-600: 210 55% 40%;
    --c-primary-700: 211 55% 32%;
    --c-primary-800: 212 52% 27%;
    --c-primary-900: 213 46% 24%;
    --c-primary-950: 214 46% 16%;

    --c-secondary-50: 166 76% 97%;
    --c-secondary-100: 167 85% 89%;
    --c-secondary-200: 168 84% 78%;
    --c-secondary-300: 171 77% 64%;
    --c-secondary-400: 172 66% 50%;
    --c-secondary-500: 173 80% 40%;
    --c-secondary-600: 175 84% 32%;
    --c-secondary-700: 175 77% 26%;
    --c-secondary-800: 176 69% 22%;
    --c-secondary-900: 176 61% 19%;
    --c-secondary-950: 180 84% 10%;

    --c-accent-50: 210 92% 97%;
    --c-accent-100: 209 88% 94%;
    --c-accent-200: 208 86% 86%;
    --c-accent-300: 208 86% 74%;
    --c-accent-400: 208 84% 60%;
    --c-accent-500: 208 79% 51%;
    --c-accent-600: 209 88% 39%;
    --c-accent-700: 210 87% 32%;
    --c-accent-800: 211 80% 27%;
    --c-accent-900: 212 72% 24%;
    --c-accent-950: 214 73% 16%;

    --c-success-50: 151 81% 96%;
    --c-success-100: 149 80% 90%;
    --c-success-200: 152 76% 80%;
    --c-success-300: 156 72% 67%;
    --c-success-400: 158 64% 52%;
    --c-success-500: 160 84% 39%;
    --c-success-600: 161 94% 30%;
    --c-success-700: 163 94% 24%;
    --c-success-800: 163 88% 20%;
    --c-success-900: 164 86% 16%;
    --c-success-950: 167 91% 9%;

    --c-warning-50: 33 100% 96%;
    --c-warning-100: 34 100% 92%;
    --c-warning-200: 32 98% 83%;
    --c-warning-300: 31 97% 72%;
    --c-warning-400: 27 96% 61%;
    --c-warning-500: 25 95% 53%;
    --c-warning-600: 21 90% 48%;
    --c-warning-700: 17 88% 40%;
    --c-warning-800: 15 79% 34%;
    --c-warning-900: 15 75% 28%;
    --c-warning-950: 17 82% 14%;

    --c-info-50: 204 100% 97%;
    --c-info-100: 204 94% 94%;
    --c-info-200: 201 94% 86%;
    --c-info-300: 199 95% 74%;
    --c-info-400: 198 93% 60%;
    --c-info-500: 199 89% 48%;
    --c-info-600: 200 98% 39%;
    --c-info-700: 201 96% 32%;
    --c-info-800: 201 90% 27%;
    --c-info-900: 202 80% 24%;
    --c-info-950: 204 80% 16%;

    --c-danger-50: 0 86% 97%;
    --c-danger-100: 0 93% 94%;
    --c-danger-200: 0 96% 89%;
    --c-danger-300: 0 94% 82%;
    --c-danger-400: 0 91% 71%;
    --c-danger-500: 0 84% 60%;
    --c-danger-600: 0 72% 51%;
    --c-danger-700: 0 74% 42%;
    --c-danger-800: 0 70% 35%;
    --c-danger-900: 0 63% 31%;
    --c-danger-950: 0 75% 15%;

    --c-gray-50: 210 20% 98%;
    --c-gray-100: 220 14% 96%;
    --c-gray-200: 220 13% 91%;
    --c-gray-300: 216 12% 84%;
    --c-gray-400: 218 11% 65%;
    --c-gray-500: 220 9% 46%;
    --c-gray-600: 215 14% 34%;
    --c-gray-700: 217 19% 27%;
    --c-gray-800: 215 28% 17%;
    --c-gray-900: 221 39% 11%;
    --c-gray-950: 224 71% 4%;
}