<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Chip Defaulft
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <div class="relative">
                    <button aria-label="chip button"
                        class="size-9 flex justify-center items-center gap-x2 rd b b-border text-fg-subtitle">
                        <span aria-hidden="true" class="flex i-carbon-notification-new text-lg"></span>
                    </button>
                    <span
                        class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 rd-full bg-red8 ring-2 ring-bg text-sm text-white px1 min-w[1rem] h4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-green6 size-3 flex b-2 b-bg rd-full"></span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Chip Placement
            </h1>
            <div class="p6 flex flex-wrap gap3 rd-lg b b-border">
                <div class="relative">
                    <button
                        class="size-9 flex justify-center items-center gap-x2 rd b b-border text-fg-subtitle">
                        <span aria-hidden="true" class="flex i-carbon-notification-new text-lg"></span>
                    </button>
                    <span
                        class="absolute top-0 left-0 -translate-y-1/2 -translate-x-1/2 rd-full bg-red8 ring-2 ring-bg text-sm text-white px1 min-w[1rem] h4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="size-9 flex justify-center items-center gap-x2 rd b b-border text-fg-subtitle">
                        <span aria-hidden="true" class="flex i-carbon-notification-new text-lg"></span>
                    </button>
                    <span
                        class="absolute bottom-0 left-0 translate-y-1/2 -translate-x-1/2 rd-full bg-red8 ring-2 ring-bg text-sm text-white px1 min-w[1rem] h4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="size-9 flex justify-center items-center gap-x2 rd b b-border text-fg-subtitle">
                        <span aria-hidden="true" class="flex i-carbon-notification-new text-lg"></span>
                    </button>
                    <span
                        class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 rd-full bg-red8 ring-2 ring-bg text-sm text-white px1 min-w[1rem] h4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="size-9 flex justify-center items-center gap-x2 rd b b-border text-fg-subtitle">
                        <span aria-hidden="true" class="flex i-carbon-notification-new text-lg"></span>
                    </button>
                    <span
                        class="absolute bottom-0 right-0 translate-y-1/2 translate-x-1/2 rd-full bg-red8 ring-2 ring-bg text-sm text-white px1 min-w[1rem] h4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute top-0 left-0 bg-green6 size-3 flex b-2 b-bg rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute bottom-0 left-0 bg-green6 size-3 flex b-2 b-bg rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-green6 size-3 flex b-2 b-bg rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute top-0 right-0 bg-green6 size-3 flex b-2 b-bg rd-full"></span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>