<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default/Fill Default
            </h1>
            <div class="p6 flex flex-col space-y-8 rd-lg b b-border">
                <div>
                    <a href=""
                        class="px2 py1 rd-md bg-bg-light text-fg-subtitle ease-linear duration-200 hover-bg-bg-high">
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <div
                        class="px2 py1 rd-md bg-bg-light text-fg-subtitle ease-linear duration-200 hover-bg-bg-high wmax hover-cursor-default">
                        Unoify V1 is now Released! <a href="#"
                            class="underline underline-offset-2 text-fg-title font-medium">Check it</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Outline
            </h1>
            <div class="p6 flex flex-col space-y-8 rd-lg b b-border">
                <div>
                    <a href=""
                        class="px2 py1 rd-md ui-outline ui-outline-gray ease-linear duration-200 hover-b-border-higher">
                        Unoify V1 is now Released!
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With pill - Icon
            </h1>
            <div class="p6 flex flex-col space-y-8 rd-lg b b-border">
                <div>
                    <a href=""
                        class="pl-1 pr2 gap1.5 flex items-center wmax py1 rd-full bg-bg-light text-fg hover-bg-bg-high ease-linear duration-200 ">
                        <span class="rd-full px1.5 pypx bg-blue6 text-white text-sm">
                            News!
                        </span>
                        Unoify V1 is now Released!
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>