<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Table
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="relative overflowx-auto rd-md  b b-border-high">
                    <table class="wfull text-fg-text text-left">
                        <thead
                            class="capitalize font-medium text-sm text-fg-title py2 b-b b-b-border-light rd-t-md">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light">
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    3.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    4.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Header Gray
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="relative overflowx-auto rd-md  b b-border-high">
                    <table class="wfull text-fg-text text-left">
                        <thead
                            class="capitalize font-medium text-sm text-fg-title py2 b-b b-b-border-light rd-t-md bg-bg-light">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light">
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    3.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    4.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Hover State
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="relative overflowx-auto rd-md  b b-border-high">
                    <table class="wfull text-fg-text text-left">
                        <thead
                            class="capitalize font-medium text-sm text-fg-title py2 b-b b-b-border-light rd-t-md bg-bg-light">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light">
                            <tr class="ease-linear duration-200 hover-bg-bg-light">
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr class="ease-linear duration-200 hover-bg-bg-light">
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With Action
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="relative overflowx-auto rd-md  b b-border-high">
                    <table class="wfull text-fg-text text-left">
                        <thead
                            class="capitalize font-medium text-sm text-fg-title py2 b-b b-b-border-light rd-t-md bg-bg-light">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                                <th scope="col" class="px5 py2.5"></th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light">
                            <tr class="ease-linear duration-200 hover-bg-bg-light">
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                                <td class="px5 py2.5 flex flex-wrap gap2 items-center">
                                    <a href="#"
                                        class="btn btn-sm btn-white ui-btn-white rd-md">Edit</a>
                                    ||
                                    <a href="#"
                                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">Delete</a>
                                </td>
                            </tr>
                            <tr class="ease-linear duration-200 hover-bg-bg-light">
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                                <td class="px5 py2.5 flex flex-wrap gap2 items-center">
                                    <a href="#"
                                        class="btn btn-sm btn-white ui-btn-white rd-md">Edit</a>
                                    ||
                                    <a href="#"
                                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Striped Row
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="relative overflowx-auto rd-md  b b-border-high">
                    <table class="wfull text-fg-text text-left">
                        <thead
                            class="capitalize font-medium text-sm text-fg-title py2 b-b b-b-border-light rd-t-md bg-bg-light">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light even-children-bg-light ">
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    3.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    4.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Divide-Y only
            </h1>
            <div class="p6 rd-lg b b-border">
                <div class="overflowx-auto">
                    <table
                        class="wfull text-fg-text text-left b-b b-b-border-light">
                        <thead
                            class="capitalize font-medium text-sm bg-bg-light py2 b-y b-border-light">
                            <tr>
                                <th scope="col" class="px5 py2.5">
                                    ID
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Name
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Title
                                </th>
                                <th scope="col" class="px5 py2.5">
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-border-light">
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    1.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    2.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    3.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"
                                    class="px5 py2.5 font-medium text-fg-title whitespace-nowrap">
                                    4.
                                </th>
                                <td class="px5 py2.5">
                                    John Doe
                                </td>
                                <td class="px5 py2.5">
                                    Admin
                                </td>
                                <td class="px5 py2.5">
                                    johndow@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>