<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Icon Default
            </h1>
            <div class="p6 flex items-center flex-wrap gap3 rd-lg b b-border">
                <div aria-hidden="true" class="text-fg-text">
                    <span class="i-carbon-user-multiple text-xl flex"></span>                     
                </div>
                <div aria-hidden="true" class="text-fg-text b rd-md p2 b-border-high">
                    <span class="i-carbon-user-multiple text-xl flex"></span>                     
                </div>
                <div aria-hidden="true" class="text-fg-text b rd-md p2 b-border-high bg-bg-light">
                    <span class="i-carbon-user-multiple text-xl flex"></span>                     
                </div>
                <div aria-hidden="true"
                    class="b bg-gray1/20 dark-bg-gray9/5 b-gray2/10 dark-b-gray8/10 text-fg-subtitle rd-md p2">
                    <span class="i-carbon-user-multiple text-xl flex"></span>
                </div>
                <div aria-hidden="true"
                    class="bg-gray2/80 dark-bg-gray8/20 text-fg-subtitle rd-md p2 text-sm">
                    <span class="i-carbon-user-multiple text-xl flex"></span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>