<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Divider
            </h1>
            <div class="p6 rd-lg flex flex-col gap4 b b-border">
                <hr class="b-gray3 dark-b-gray7">
                <hr class="b-blue6 dark-b-blue5">
                <hr class="b-red6 dark-b-red5">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size : Height
            </h1>
            <div class="p6 rd-lg flex flex-col gap4 b b-border">
                <hr class="b-gray3 dark-b-gray7">
                <hr class="b-2 b-blue6 dark-b-blue5">
                <hr class="b-3 b-blue6 dark-b-blue5">
                <hr class="b-4 b-red6 dark-b-red5">
                <hr class="b-5 b-blue6 dark-b-blue5">

                <hr class="b-8 b-emerald6 dark-b-emerald5">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Corner Radius
            </h1>
            <div class="p6 rd-lg flex flex-col gap4 b b-border">
                <hr class="b-gray3 dark-b-gray7 rd-full">
                <hr class="b-2 b-blue6 dark-b-blue5 rd-md">
                <hr class="b-4 b-red6 dark-b-red5 rd-lg">
                <hr class="b-8 b-emerald6 dark-b-emerald5 rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With label
            </h1>
            <div class="p6 rd-lg flex flex-col gap4 b b-border">
                <div role="divider" class="divider-custom divider-custom-1 before-bg-bg-high flex justify-start items-center">
                    <span class="pr-3 bg-bg text-fg-text relative">Label Start</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 before-bg-bg-high flex justify-center items-center">
                    <span class="px3 bg-bg text-fg-text relative">Label Center</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 before-bg-bg-high flex justify-end items-center">
                    <span class="pl-3 bg-bg text-fg-text relative">Label Start</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 before-bg-bg-high flex justify-center items-center">
                    <span class="px3 bg-emerald6 dark-bg-emerald5 text-sm text-white rd-full pypx relative">Custom label</span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>