<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Range
            </h1>
            <div class="p6 flex flex-col space-y-5 rd-lg b b-border">
                <div class="relative wfull flex items-center h4">
                    <input type="range" name="range_slide" min="0" max="100" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
                </div>
                <div class="relative wfull flex items-center h4">
                    <input type="range" name="range_slide" min="0" max="80" value="20" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Disabled
            </h1>
            <div class="p6 flex flex-col space-y-5 rd-lg b b-border">
                <div class="relative wfull flex items-center h4">
                    <input type="range" disabled name="range_slide" min="0" value="30" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Stepper
            </h1>
            <div class="p6 flex flex-col space-y-5 rd-lg b b-border">
                <div class="relative wfull flex items-center h4">
                    <input type="range" name="range_slide" step="4" min="0" max="40" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Style
            </h1>
            <div class="p6 flex flex-col space-y-5 rd-lg b b-border">
                <div class="relative wfull flex items-center h4">
                    <input type="range" name="range_slide" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div class="relative wfull flex items-center h4">
                    <input type="range" name="range_slide" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Custom Indicator
            </h1>
            <div class="p6 flex flex-col space-y-4 rd-lg b b-border">
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-emerald6 h2"
                    id="range_custom1" class="relative wfull flex items-center h4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-emerald6
                     ">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h2"
                    id="range_custom3" class="relative wfull flex items-center h4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-indigo-600 h2"
                    id="range_custom3" class="relative wfull flex items-center h4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-indigo6
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size
            </h1>
            <div class="p6 flex flex-col space-y-5 rd-lg b b-border">
                <div class="relative wfull flex items-center h2">
                    <label for="range_slide_xs" class="sr-only">rangexs</label>
                    <input type="range" name="range_slide_xs" id="range_slide_xs" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-xs ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div class="relative wfull flex items-center h3">
                    <label for="range_slide_sm" class="sr-only">rangesm</label>
                    <input type="range" name="range_slide_sm" id="range_slide_sm" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
                </div>
                <div class="relative wfull flex items-center h4">
                    <label for="range_slide_md" class="sr-only">rangemd</label>
                    <input type="range" name="range_slide_md" id="range_slide_md" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div class="relative wfull flex items-center h5">
                    <label for="range_slide_lg" class="sr-only">rangelg</label>
                    <input type="range" name="range_slide_lg" id="range_slide_lg" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
                </div>
                <div class="relative wfull flex items-center h6">
                    <label for="range_slide_xl" class="sr-only">rangexl</label>
                    <input type="range" name="range_slide_xl" id="range_slide_xl" min="0" max="100" class="
                    ui-input-range ui-range-thumb-size-lg ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Custom Indicator : Size
            </h1>
            <div class="p6 flex flex-col space-y-4 rd-lg b b-border">
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h1"
                    class="relative wfull flex items-center h2">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-xs ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h1"
                    class="relative wfull flex items-center h3">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h2"
                    id="range_custom1" class="relative wfull flex items-center h4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary
                     ">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h2.5"
                    id="range_custom1" class="relative wfull flex items-center h4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="
                    ui-input-range ui-range-thumb-size-lg ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>