<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>

</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral-300 dark-b-neutral-700 text-fg rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-5 hidden dark-flex">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="flex dark-hidden size-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>

            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Switch
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex items-end gap-4 flex-wrap">
                    <input type="checkbox" name="switch_1" id="switch_1"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_2"
                        class="bg-bg-high text-primary switch switch-sm switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_3"
                        class="bg-bg-high text-primary switch switch-md switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_4"
                        class="bg-bg-high text-primary switch switch-lg switch-knob-white" />
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                With label
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <label for="switch_lab" class="items-center flex">
                    <input type="checkbox" name="switch_lab" id="switch_lab"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white peer" />
                    <span class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 ms-3">Use
                        Dark Theme</span>
                </label>
                <label for="switch_lab1" class="items-center flex">
                    <input type="checkbox" name="switch_lab1" id="switch_lab1"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white peer" />
                    <span
                        class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 ms-3">Checked</span>
                </label>
                <label for="switch_lab_2" class="flex items-center">
                    <span class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 me3">No</span>
                    <input type="checkbox" name="switch_lab_2" id="switch_lab_2"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white peer" />
                    <span class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 ms-3">Yes</span>
                </label>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Disabled
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <label for="switch_lab_disabled" class="items-center flex">
                    <input type="checkbox" disabled name="switch_lab_disabled" id="switch_lab_disabled"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white peer" />
                    <span class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 ms-3">Use
                        Dark Theme</span>
                </label>
                <label for="switch_lab1_disabled" class="items-center flex">
                    <input type="checkbox" name="switch_lab1_disabled" id="switch_lab1_disabled"
                        class="bg-bg-high text-primary switch switch-xs switch-knob-white peer" checked disabled/>
                    <span
                        class="text-fg peer-disabled-pointer-events-none peer-disabled-op50 ms-3">Checked</span>
                </label>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default Switch
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <div class="flex items-end gap-4 flex-wrap">
                    <input type="checkbox" name="switch_1" id="switch_1"
                        class="bg-bg-high text-primary switch-outline switch-outline-xs b-primary switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_2"
                        class="bg-bg-high text-primary switch-outline switch-outline-sm b-primary-400 switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_3"
                        class="bg-bg-high text-primary switch-outline switch-outline-md b-primary switch-knob-white" />
                    <input type="checkbox" name="switch_1" id="switch_4"
                        class="bg-bg-high text-primary switch-outline switch-outline-lg b-fg switch-knob-white" />
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>