<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Pagination Default
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                4
                            </a>
                        </li>
                        <li>
                            <span aria-hidden="true" class="px2.5 flex items-center justify-center rd-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    data-slot="icon" class="size-4">
                                    <path
                                        d="M2 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM6.5 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM12.5 6.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z" />
                                </svg>
                            </span>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                10
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                11
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Use with Icon
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a aria-label="Prev page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                <span aria-hidden="true" class="flex i-carbon-chevron-left text-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a aria-label="Next page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                <span aria-hidden="true" class="flex i-carbon-chevron-right text-lg"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a aria-label="Prev page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                <span aria-hidden="true" class="flex i-carbon-chevron-left text-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                4
                            </a>
                        </li>
                        <li>
                            <span aria-hidden="true" class="px2.5 flex items-center justify-center rd-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    data-slot="icon" class="size-4">
                                    <path
                                        d="M2 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM6.5 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM12.5 6.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z" />
                                </svg>
                            </span>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                10
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                11
                            </a>
                        </li>
                        <li>
                            <a aria-label="Next page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                <span aria-hidden="true" class="flex i-carbon-chevron-right text-lg"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a aria-label="Prev page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center gap-x1.5 justify-center rd-md">
                                <span aria-hidden="true" class="flex i-carbon-chevron-left text-lg"></span>
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a aria-label="Next page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center gap-x1.5 rd-md">
                                Next
                                <span aria-hidden="true" class="flex i-carbon-chevron-right text-lg"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Active and Disabled
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a href="#" aria-disabled="true"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md aria-disabled-cursor-not-allowed aria-disabled-op60 aria-disabled-hover-!bg-transparent">
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="bg-bg-light hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md  aria-disabled-cursor-not-allowed aria-disabled-op60  aria-disabled-hover-!bg-transparent">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a aria-label="Prev page" aria-disabled="true" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md aria-disabled-cursor-not-allowed aria-disabled-op60 aria-disabled-hover-!bg-transparent">
                                <span aria-hidden="true" class="flex i-carbon-chevron-left text-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="bg-bg-light hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a aria-label="Next page" href="#"
                                class="hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md aria-disabled-cursor-not-allowed aria-disabled-op60 aria-disabled-hover-!bg-transparent">
                                <span aria-hidden="true" class="flex i-carbon-chevron-right text-lg"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="flex items-center gap-0.5 text-fg-text">
                        <li>
                            <a href="#" aria-disabled="true"
                                class="b b-transparent hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md aria-disabled-cursor-not-allowed aria-disabled-op60 aria-disabled-hover-!bg-transparent">
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="b b-border-high hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="b b-transparent  hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="b b-transparent  hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="b b-transparent hover-bg-bg-light h9 min-w[36px] px2.5 flex items-center justify-center rd-md  aria-disabled-cursor-not-allowed aria-disabled-op60  aria-disabled-hover-!bg-transparent">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>