<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../../js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-surface b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Default AlertDialog
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-modal-trigger data-modal-target="modal-default"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        DefaultModal
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-default"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="bg-bg rd-lg overflow-hidden wfull max-w2xl flex flex-col ease-linear transition-all absolute top-4">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fade"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        FadeIn & Scale
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fade"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-w2xl flex flex-col ease-linear transition-all ">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-slidedown"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Slide Down
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-slidedown"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="slide-down-animation-modal .4s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-w2xl flex flex-col ease-linear transition-all ">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-slideup"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Slide Up
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-slideup"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="slide-up-animation-modal .4s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-w2xl flex flex-col ease-linear transition-all ">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Size
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-modal-trigger data-modal-target="modal-default-size"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Default Size
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-default-size"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="bg-bg rd-lg overflow-hidden wfull max-w2xl flex flex-col ease-linear transition-all absolute top-4">
                            <div class="p4">
                                <div class="h10 flex bg-bg-surface b b-dotted b-border-strong rd-md">

                                </div>
                            </div>
                            <div class="px4 py6">
                                <div class="h40 flex b b-dashed b-border-strong bg-bg-surface rd-md">

                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-xs"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        XS Modal
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-xs"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="bg-bg rd-lg overflow-hidden wfull max-wsm flex flex-col ease-linear transition-all absolute top-4">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fullScreen"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Full Screen
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fullScreen"
                        class="justify-center items-start fixed wscreen hscreen top-0 left-0"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear" data-exit-animation="fadeOut .1s linear"
                            class="bg-bg overflow-hidden flex flex-col ease-linear transition-all absolute size-full top-0">
                            <div class="p4 hmax">
                                <div class="h10 flex bg-bg-surface b b-dotted b-border-strong rd-md">

                                </div>
                            </div>
                            <div class="px4 py6 flex-1">
                                <div class="hfull flex b b-dashed b-border-strong bg-bg-surface rd-md">

                                </div>
                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3 hmax">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Alert Message
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-def"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Default Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-def"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full bg-bg-surface text-fg-subtitle">
                                <span aria-hidden="true" class="flex i-carbon-build-tool text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Confirm your action
                            </h2>
                            <p class="text-fg-text">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button
                                    class="btn btn-md btn-solid btn-solid-primary text-white rd-md">
                                    Yes, Proceed
                                </button>
                                <button data-close-modal
                                    class="btn btn-md bg-bg-surface duration-300 hover-bg-bg-surface/70 text-fg-subtitle rd-md">
                                    No, Cancel
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-cta-right"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        CTA RIght
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-cta-right"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full bg-bg-surface text-fg-subtitle">
                                <span aria-hidden="true" class="flex i-carbon-build-tool text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Confirm your action
                            </h2>
                            <p class="text-fg-text">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md bg-bg-surface duration-300 hover-bg-bg-surface/70 text-fg-subtitle rd-md">
                                    No, Cancel
                                </button>
                                <button
                                    class="btn btn-md btn-solid btn-solid-primary text-white rd-md">
                                    Yes, Proceed
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-success"
                        class="btn btn-sm btn-solid btn-solid-success text-white rd-lg">
                        Success Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-success"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full ui-soft ui-soft-success">
                                <span aria-hidden="true" class="flex i-carbon-build-tool text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Succes !!
                            </h2>
                            <p class="text-fg-text">
                                Your operation was successful. Great job!
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-success text-white rd-md">
                                    Ok, close
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-confirm"
                        class="btn btn-sm btn-solid btn-solid-danger text-white rd-md">
                        Danger Confirm
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-danger-confirm"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full ui-soft ui-soft-danger">
                                <span aria-hidden="true" class="flex i-carbon-trash-can text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Confirm Deletion!!
                            </h2>
                            <p class="text-fg-text">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-danger rd-md text-white">
                                    Yes, Delete
                                </button>
                                <button data-close-modal
                                    class="btn btn-md bg-bg-surface duration-300 hover-bg-bg-surface/70 text-fg-subtitle rd-md">
                                    No, Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-confirm-cta-right"
                        class="btn btn-sm btn-solid btn-solid-danger text-white rd-md">
                        Danger Confirm CTa Right
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-danger-confirm-cta-right"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full ui-soft ui-soft-danger">
                                <span aria-hidden="true" class="flex i-carbon-trash-can text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Confirm Deletion!!
                            </h2>
                            <p class="text-fg-text">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md bg-bg-surface duration-300 hover-bg-bg-surface/70 text-fg-subtitle rd-md">
                                    No, Cancel
                                </button>
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-danger rd-md text-white">
                                    Yes, Delete
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-message"
                        class="btn btn-sm btn-solid btn-solid-danger text-white rd-md">
                        Danger Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-danger-message"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .6s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all">
                            <div class="wmax p3 rd-full ui-soft ui-soft-danger">
                                <span aria-hidden="true" class="flex i-carbon-rule-cancelled text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Security Vulnerability!!!
                            </h2>
                            <p class="text-fg-text">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-danger rd-md text-white">
                                    Ok, I understand
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-warning-message"
                        class="btn btn-sm btn-solid btn-solid-warning text-white rd-lg">
                        Warning Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-warning-message"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .6s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div
                                class="wmax p3 rd-full ui-soft ui-soft-warning">
                                <span aria-hidden="true" class="flex i-carbon-warning text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                This is a warning Message....
                            </h2>
                            <p class="text-fg-text">
                                There may be potential issues. Proceed with caution.
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-warning text-white rd-md">
                                    Acknowledge
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Without Overlay
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-modal-trigger data-modal-target="modal-no-overlay"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        No Overlay
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-no-overlay"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="bg-bg b b-border-strong rd-lg overflow-hidden wfull max-wxl flex flex-col ease-linear transition-all absolute top-4">
                            <div class="b-b b-b-border p4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-fg-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="rd-full btn btn-icon-sm b b-border-strong duration-200 hover-bg-bg-surface text-fg">
                                    <span aria-hidden="true" class="flex i-carbon-close text-md"></span>
                                </button>
                            </div>
                            <div class="px4 py6">

                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fullScreen_nooverlay"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Without Overlay
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fullScreen_nooverlay"
                        class="justify-center items-start fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear" data-exit-animation="fadeOut .1s linear"
                            class="bg-bg rd-lg overflow-hidden flex flex-col ease-linear transition-all absolute size-full top-0">
                            <div class="p4 hmax">
                                <div class="h10 flex bg-bg-surface b b-dotted b-border-strong rd-md">

                                </div>
                            </div>
                            <div class="px4 py6 flex-1">
                                <div class="hfull flex b b-dashed b-border-strong bg-bg-surface rd-md">

                                </div>
                            </div>
                            <div class="b-t b-border p4 flex items-center gap-x3 hmax">
                                <button
                                    class="rd btn btn-sm btn-solid btn-solid-primary text-white">
                                    Save
                                </button>
                                <button data-close-modal
                                    class="rd btn btn-sm btn-white ui-btn-white text-fg-subtitle">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Prevent Close
            </h1>
            <div class="p6 flex flex-wrap gap4 rd-lg b b-border">
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-def-prevent"
                        class="btn btn-sm btn-solid btn-solid-primary text-white rd-md">
                        Default Message
                    </button>
                    <div data-fx-modal data-alert-dialog data-prevent-close-modal aria-hidden="true"
                        data-modal-id="modal-message-def-prevent"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full bg-bg-surface text-fg-subtitle">
                                <span aria-hidden="true" class="flex i-carbon-trash-can text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Confirm your action
                            </h2>
                            <p class="text-fg-text">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button
                                    class="btn btn-md btn-solid btn-solid-primary text-white rd-md">
                                    Yes, Proceed
                                </button>
                                <button data-close-modal
                                    class="btn btn-md bg-bg-surface duration-300 hover-bg-bg-surface/70 text-fg-subtitle rd-md">
                                    No, Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-success-prevent"
                        class="btn btn-sm btn-solid btn-solid-success text-white rd-lg">
                        Success Message
                    </button>
                    <div data-fx-modal data-alert-dialog data-prevent-close-modal aria-hidden="true"
                        data-modal-id="modal-message-success-prevent"
                        data-modal-overlay="bg-gray800/70 backdrop-blur-xl"
                        class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="relative bg-bg rd-lg overflow-hidden wfull max-wxl p8 flex flex-col gap-y4 items-center ease-linear transition-all ">
                            <div class="wmax p3 rd-full ui-soft ui-soft-success">
                                <span aria-hidden="true" class="flex i-carbon-task text-md"></span>
                            </div>
                            <h2 class="font-semibold text-xl text-fg-title">
                                Succes !!
                            </h2>
                            <p class="text-fg-text">
                                Your operation was successful. Great job!
                            </p>
                            <div class="flex justify-center gap-x3 pt4">
                                <button data-close-modal
                                    class="btn btn-md btn-solid btn-solid-success text-white rd-md">
                                    Ok, close
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>